<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/Total2/js/jquery-1.9.0.js"></script>
<script type="text/javascript">
<!--
function realTimeCheck(){
	var id = $("#lecroom_id").val(); //입력된 강의실코드 
	$("#rtc_result").load("check.jsp?lecroom_id="+id);
} 

function subjectList(){
	$("#sjl_result").load("dynamicList_subj.jsp");
}

function sjlPrint(){	
	var id = $("input[name=subj_id]:radio:checked").val();	//라디오로 선택된 과목코드
	$("#sjl_print").html(id);
}
//-->
</script>
</head>
<body onLoad="subjectList()">
<form action="print.jsp" method="post">
	강의를 선택해주세요.<br>
	<span id="sjl_result"></span>
	<span id="sjl_print"></span><br>
	강의실 호실 <input type="text" name="lecroom_id" id="lecroom_id" onkeyup="realTimeCheck()" >
	<span id="rtc_result"></span>
</form>	
</body>
</html>