<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Total2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>LoginDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginBiz</servlet-name>
    <servlet-class>LoginBiz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DbUtil</servlet-name>
    <servlet-class>DbUtil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberSettingServlet</servlet-name>
    <servlet-class>MemberSettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomSettingServlet</servlet-name>
    <servlet-class>RoomSettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LectureServlet</servlet-name>
    <servlet-class>LectureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestCheckServlet</servlet-name>
    <servlet-class>RequestCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Total2/web</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Total2/webLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberSettingServlet</servlet-name>
    <url-pattern>/Total2/memberSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Total2/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomSettingServlet</servlet-name>
    <url-pattern>/Total2/roomSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LectureServlet</servlet-name>
    <url-pattern>/Total2/lectureSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestCheckServlet</servlet-name>
    <url-pattern>/Total2/Check</url-pattern>
  </servlet-mapping>
</web-app>